<h2> Balónek se už vznáší přivázaný na zahradě! Další krok je sehnat luk a šípy.</h2>
<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="bowSection">
    <form [formGroup]="bowSection">
      <ng-template matStepLabel>Luk</ng-template>
      <p>
        Zapůjčít luk se ochotně nabídnul blízký lukostřelecký klub ve Voticích.
        Jako vhodný luk byl vybrán luk mladšího žáka který v sezóně 2020/2021 získal bronzovou medaily terénní lukostřelbě.
      </p>

      <p>
        Po příjezdu do votic na vás bohužel čekal jen papírek abyste si správný luk vzali z odpovídající skříňky.
      </p>
      <p>
        Jaké jméno nese správná skříňka?
      </p>
      <mat-form-field appearance="fill">
        <mat-label>Jméno a příjmení</mat-label>
        <input matInput placeholder="Jan Novák" formControlName="lockerName" >
        <mat-error *ngIf="!bowSection.hasError('pattern')">
          Žádná takováhle skříňka tu ani není :(
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Otevřít skříňku</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="arrowSection">
    <form [formGroup]="arrowSection">
      <ng-template matStepLabel>Šípy</ng-template>
      <h2>Otevřeli jste skříňku a v ní nalezli vytoužený luk!</h2>
      <p>
        Z bezpečnostního hlediska samozřejmě není vhodné střílet závodnímy šípy.
        Daník vyrobil náhradní šípy z "vlků" které vystřihal u babičky v Sedlci.
      </p>

      <p>
        Aby je mohl vyzvednout každý nechal je pod mostem vedle domu babičky (Čsl. armády 171 Sedlec).
        Stíhá je ale vyzvednout jen kurýr. Objednali jsme tedy mostového kurýra který ale místo normálních adres umí pracovat jen s
        čísly mostů. Zadejte prosím pro kurýra správné číslo mostu.
      </p>
      <p>
        Jaké je správné označení mostu na straně u staré lekárny?
      </p>
      <mat-form-field appearance="fill">
        <mat-label>Číslo mostu</mat-label>
        <input matInput placeholder="xxx-xxx" formControlName="bridgeNum" >
        <mat-error *ngIf="!bowSection.hasError('pattern')">
          Toto číslo mostu bohužel v databázi není :(
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button (click)="emitIfValid()">Zadat do kurýrního systému</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
